@import '1-base/variables';
@import '1-base/normalize';

@import '2-utilities/font';
@import '2-utilities/layout';

@import '3-modules/button';

.wrapper {
	width: 95%;
	margin: auto;

	@media (max-width: 500px) {
		width: 90%;
	}
}

@import '4-layouts/topbar';
@import '4-layouts/body';
@import '4-layouts/list';
@import '4-layouts/mobile-list';
@import '4-layouts/form';

@import '5-media-queries/body-mq';
@import '5-media-queries/list-mq';
@import '5-media-queries/form-mq';