// # Header

$black: #19202C;
$bg--palewhite: transparentize(#E6EAEE, 0.6);

// =========================================

// # Shopping Cart Menu

$black: #19202C;
$text--palewhite: #ADADAD;

$border--palewhite: #EDEDED;
$button-border: #D8D8D8;

// =========================================

// # Form

$form-background: linear-gradient(#37445B, #19202C);
$white: #FFFFFF;
$separator-border: transparentize(#EEEEEE, 0.9);
$border--white: #FFFFFF;
$border--gray: transparentize(#FFFFFF, 0.8);
$text--gray: transparentize(#FFFFFF, 0.7);
$submit-button: #3F88EB;
$submit-button-shadow: 0 18px 24px 0 rgba(0, 0, 0, 0.12);